* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Archivo, sans-serif;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000201;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
